<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" type="image/png" href="/public/images/RedPers_Logo_Cmyk_Black-1536x369.webp">
    <script src="/scripts/script.js" defer></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" 
    integrity="sha384-Jo1s2mStfU5x2bwW+4MUp9r8TPc+0Lc5DVCH0cDa4mKXmTEIZjXZnQ48XTWNXJIV" crossorigin="anonymous"></script> -->

    
    <title><%= title %></title>