/* #region load-in-fonts */

@font-face {
    font-family: 'Tiempos-Headline-Medium';
    src: url(/public/assets/font/TiemposHeadline-Medium.ttf);
}

@font-face {
    font-family: 'Tiempos-Headline-Regular';
    src: url(/public/assets/font/TiemposText-Regular.ttf);
}

/* #endregion */


:root {
    /* Global colors */
    --main-bg-color: #F7F7F5;
    --secondary-bg-color: #FFFFFF;
    --text-color: #000000;
    --accent-color: #E84340;
    --secondary-accent-color: #F2D930;
    --tertiary-accent-color: #5340E8;

    /* Global fonts */
    --medium-text: 'Tiempos-Headline-Medium', sans serif;
    --regular-text: 'Tiempos-Headline-Regular', sans serif;
    --content-text: 'Inter', sans serif;
}

* {
    /* Reset default styling */ 
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color, white);
}


  
  .loader {
    background-color: #090909;
    text-align: center;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: 9999; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow-y: hidden;
  }

  h4 {
    color: white;
    font-family: 'Inter', sans-serif;
  }
  
