/* #region load-in-fonts */

@font-face {
    font-family: 'Tiempos-Headline-Medium';
    src: url(/public/assets/font/TiemposHeadline-Medium.ttf);
}

@font-face {
    font-family: 'Tiempos-Headline-Regular';
    src: url(/public/assets/font/TiemposText-Regular.ttf);
}

/* #endregion */


:root {
    /* Global colors */
    --main-bg-color: #F7F7F5;
    --secondary-bg-color: #FFFFFF;
    --text-color: #000000;
    --accent-color: #E84340;
    --secondary-accent-color: #F2D930;
    --tertiary-accent-color: #5340E8;

    /* Global fonts */
    --medium-text: 'Tiempos-Headline-Medium', sans serif;
    --regular-text: 'Tiempos-Headline-Regular', sans serif;
    --content-text: 'Inter', sans serif;
}

* {
    /* Reset default styling */ 
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color, white);
}
